//Poner _ para referenciar que pertenece a app.scss y este archivo no se compila solo
$principalFuente: 'Montserrat', sans-serif;


//Colores
$amariilo: #e9b930;
$rosa: #d2427f;
$azul: #2Ba6da;
$verde: #6aa32e;
$blanco: #fff;
$rojo: #bd0000;
$morado: #9859b6;
$naranga: #ff8000;
$azulfrio: #4deeea;

//Media Query
$telefono: 480px;
$tablet: 768px; 
$desktop: 1200px;

//Fuente Tamaño
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//Separacion
$separacion: 5rem;