.mechanical{
    border: 0.5rem solid $rojo;
    border-radius: 1rem;
}
.imperative{
    border: 0.5rem solid $amariilo;
    border-radius: 1rem;
}
.concurrent{
    border: 0.5rem solid $blanco;
    border-radius: 1rem;
}
.obj-oriented{
    border: 0.5rem solid $naranga;
    border-radius: 1rem;
}
.declarative{
    border: 0.5rem solid $morado;
    border-radius: 1rem;
}
.multi-paradigm{
    border: 0.5rem solid $azulfrio;
    border-radius: 1rem;
}
.scripting{
    border: 0.5rem solid $verde;
    border-radius: 1rem;
}
.functional{
    border: 0.5rem solid $azul;
    border-radius: 1rem;
}
.dynamic{
    border: 0.5rem solid $rosa;
    border-radius: 1rem;
}